body{background:#efefef url(images/back.png); margin: 0;padding: 0;
font: 16px/24px Arial, sans-serif;}
a{text-decoration: none;}

/*структура*/
div.mid{width: 90%;margin: 0 auto}
div.header{background: #000000}

/*шапка*/
div.topmenu{float: right;line-height: 79px}
div.topmenu a{margin: 0 0 0 30px;color:#FFFFFF;}
div.topmenu a:hover{color:#A9A9A9;}
div.tit {line-height: 200%; background: #000000;text-align: center;margin-bottom: -25px}


/*тело*/
/*cinema*/
div.contentcinema{background-color:rgba(0,0,0,0.5);}
div.contentcinema img:hover{opacity: 0.5}
div.contentcinema td{width: 25%}
div.contentcinema table{width: 100%}

/*index*/
 div.contentMain{background-color:rgba(0,0,0,0.5);}
 div.contentMain img{float: left}
 div.contentMain a:hover{color: #A9A9A9}
div.contentMain a{color:#FFFFFF}
div.contentMain table{width: 100%}
div.contentMain td{width: 25%}




 /*categories*/
 div.contentCategories{background-color:rgba(0,0,0,0.5);}
div.contentCategories a{margin: 0 100px 0 100px;color:#FFFFFF}
div.contentCategories a:hover{color: #A9A9A9}

/*pages*/
div.contentPages a{color:#FFFFFF;}
div.contentPages a:hover{color: #A9A9A9}
div.contentPages {background-color:rgba(0,0,0,0.5)}


 div.contentCinemaFilms a{color: #A9A9A9}
 div.contentCinemaFilms {background-color:rgba(0,0,0,0.5)}
 div.contentCinemaFilms table{width: 100%;width: 100%}
 div.contentCinemaFilms img{max-width: 50% ; height: auto}
div.contentCinemaFilms hr{ border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 6px; /* Толщина линии */}

div.footer{position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */};

    /*фильмы и раздела что в кино*/

  